{% from 'macro_render_field_form.html' import render_field %}
{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
  <header>
      <h2>{{ title }}</h2>
  </header>
{% endblock %}

{% block route %}
    <li class="nav-item item-right">
        <a class="nav-link" href="{{ url_for('show_cars') }}">Cancel</a>
    </li>
{% endblock %}


{% block body %}

<div class="col-md-6">
    
  <form method="POST" action="">
      {{ form.hidden_tag() }}
    <fieldset class="form-group">
        {{ render_field(form.car_number) }}
        {{ render_field(form.car_description) }}
        {{ render_field(form.rental_cost) }}
    </fieldset>
      <div class="form-group row ml-2">
           <button class="btn btn-success">{{ title }}</button>
      </div>

    </form>

    </div>
{% endblock %}