html, body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h2 {
    padding-top: 10px;
    text-align: center;
    background-color: darkgrey;
    height: 60px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.nav-tabs {
    margin-top: 0;
    height: 60px;

}

.nav-item {
    text-align: center;
    height: 60px;
    width: 200px;
}

.nav-link {
    padding-top: 16px;
    height: 60px;
}

.add-button {
    float: left;
}

.choose-date {
    height:45px;
    margin:10px 10px 10px 10px;
    

}

.data-filter  {

	display: inline-block;
	min-width: 150px;

}

.button-refresh {
    float: right;
}

.container {
    padding: 0px;
    margin: 0px;
    max-width: 100%;
}


@media (min-width:768px){
    .item-right {
      position: absolute;
      right: 0;
    }
   }

   }
.filter_cost {
    height:150px;
    margin:10px 10px 10px 10px;
}

.rental_cost_from, .rental_cost_from_by  {

	display: inline-block;
	min-width: 200px;

}

.filter-price{
    height:30px;
    display: inline-block;
    border-radius:10px;
    background: green;
    float:right;


}